*{
   
    font-family: sans-serif;
}
.navbar{
    background-color: rgba(3, 15, 5, 0.726);
    
}
.nav-link{
    color:  rgb(2, 253, 15) !important;
    font-weight: bold;
}
.fa-shopping-cart, .fa-user-circle-o, .fa-thumbs-up{
    font-size: 32px;
}
.fa-truck, .fa-user, .fa-thumbs-up{
    font-size: 50px;
    color: #4169E1;
}
.siteLogo{
    max-width: 50px;
    max-height: 50px;
}
.siteName{
    color: yellow !important;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
}
p{
    margin: 0px;
}
.headings{
    color: #12b0e0;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    background-color: rgb(61, 38, 58);
}

.card1 , .card2 , .card3{
    width: 250px;
    height: 80px;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 4px 6px 8px 0px rgba(0,0,0,0.64);
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.card{
    text-align: center;
    
}

.card-img-top{
    max-height: 177px;
}

h3, h1{
    color: #4169E1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
h2{
    color: #4169E1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 30px;
}
.fa-copyright{
    color: black;
}
h4{
    background-color: #4169E1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0px;
    color: #FFFF;
    font-size: 15px;
}

#fcolor{
    color: rgb(222, 227, 230);
}
.mainCard{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.col-sm{
    display:flex;
    justify-content: center;
    margin-top: 35px;
}

.carouselImage{
    max-height: 344px;
}

.footer{
    margin-top: 45px;
    min-height: 300px; 
    color: rgb(222, 227, 230);
    background-color: rgb(61, 38, 58);
}
